#container {
    display: grid;
    background-color: gray;
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    width: 600px;
    height: 600px;
}

.inner-container {
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    /* padding: 20px; */
}

.inner-container:hover {
    background-color: black;
}